$color-primary:rgb(233, 195, 125);

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

$logo-font:"Grand Hotel", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}
